<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <!-- property name="connection.driver_class">com.mysql.jdbc.Driver</property -->
    <property name="connection.url">jdbc:mysql://localhost/demo</property>
    <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
    <property name="connection.username">root</property>
    <property name="connection.password">root</property>
    <!--<property name="connection.pool_size">3</property>-->
    <!--property name="dialect">org.hibernate.dialect.MySQLDialect</property-->
    <!-- <property name="current_session_context_class">thread</property>-->
       <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
 
 <!--   <mapping class="com.dhakad.Products" />
   <mapping class="com.dhakad.OneToOneMapping.Emp" />
   <mapping class="com.dhakad.OneToOneMapping.Laptop" />
  	<mapping class="com.dhakad.OneToManyMapping.Account"/>
  	<mapping class="com.dhakad.OneToManyMapping.Cards"></mapping>
  	<mapping class="com.dhakad.ManyToManyMapping.Projects"/>
  	<mapping class="com.dhakad.ManyToManyMapping.Employee"/>
 -->
			<mapping class="com.dhakad.OneToManyMapping.Account"/>
  	<mapping class="com.dhakad.OneToManyMapping.Cards"></mapping>
 		<mapping class="com.dhakad.auto_key_generation.Student"/>
 		<mapping class="com.dhakad.auto_key_generation.Teacher"/>
  </session-factory>
</hibernate-configuration>